* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

input,
textarea {
    width: 350px;
    font-size: 22px;
    border: 2px solid rgb(31, 31, 123);
    outline: none;
}

input[type='submit'] {
    padding: 20px 0;
}

input[type='submit']:hover {
    cursor: pointer;
}

input:not(:last-child),
textarea {
    margin: 0 0 20px 0;
    padding: 5px 10px;
}

textarea {
    resize: none;
}